Add support for DID:WEBVH for resolving key for signature validation

Description

Implement support for resolving did:webvh identifiers to enable verification of signatures based on keys contained in the DID Log (did.jsonl) as defined in the did DID Method Specification.

Ref doc: https://identity.foundation/didwebvh/


1. Remove the ‘did:webvh:’ prefix from the input identifier.
2. Remove the SCID segment, which is the first segment after the prefix.
3. Transform the domain segment, the first segment (up to the first : character) of the remaining string.

- If the domain segment contains a port, decode percent-encoding and preserve the port.

- Apply Unicode normalisation as defined in [[RFC3491](https://identity.foundation/didwebvh/v1.0/#ref:RFC3491)] (see this explainer on [Unicode normalization](https://dencode.com/en/string/unicode-normalization)).

- Apply IDNA (Punycode) encoding as per IDNA2008 [[RFC9233](https://identity.foundation/didwebvh/v1.0/#ref:RFC9233)]. See the [FAQ on IDNA](https://corp.unicode.org/~asmus/proposed_faq/idn.html) for more details. For domains that do not contain international domain name elements, this should result in no change.

4. Transform the path, the 0 or more segments after the first : character, delimited by : characters.

- Percent-encoded each path segment per [[RFC3986](https://identity.foundation/didwebvh/v1.0/#ref:RFC3986)] to ensure a valid HTTP URL.

- Replace each : character separator between the segments with a / character to create the encoded path ({encoded_path}).

5. Reconstruct the HTTPS URL:

- Format as https://{domain}:{port}/{encoded_path}/did.jsonl if a port is present.

- Format as https://{domain}/{encoded_path}/did.jsonl if there are path segments and no port.

- If no path segments exist, format as https://{domain}:{port}/.well-known/did.jsonl or https://{domain}/.well-known/did.jsonl as applicable.

6. The content type for the did.jsonl file SHOULD be text/jsonl.